In [19]:
import pandas as pd
import matplotlib.pyplot as plt
from graph import draw
import numpy as np
df = pd.read_pickle('../data/raw/swedish_stocks')
tickers = df.columns.get_level_values(0).unique()

In [58]:
close = df.loc[:,(slice(None), 'Close')]
#close.drop(['THQN-B.ST'], axis=1)
equ=[]
for i in enumerate((close.isna().sum())):
    if (i[1] > 1000):
        equ.append(i[0])
close.reset_index().drop(equ, axis=0)

,Date,THQN-B.ST,NIBE-B.ST,CI-B.ST,SVOL-B.ST,MMGR-B.ST,IBT-B.ST,KABE-B.ST,OEM-B.ST,POOL-B.ST,...,SKA-B.ST,MTG-B.ST,WALL-B.ST,MACK-B.ST,TRIAN-B.ST,REJL-B.ST,DCAR-B.ST,HEBA-B.ST,CLNK-B.ST,CBTT-B.ST
,,Close,Close,Close,Close,Close,Close,Close,Close,Close,...,Close,Close,Close,Close,Close,Close,Close,Close,Close,Close
2,2009-12-07,NaN,NaN,NaN,15.023463,NaN,NaN,56.425354,28.548664,NaN,...,75.806168,48.367054,11.984401,NaN,NaN,38.680397,NaN,20.679335,NaN,NaN
3,2009-12-08,NaN,NaN,NaN,15.023463,NaN,NaN,56.244507,28.819914,NaN,...,74.944733,48.102886,12.061062,NaN,NaN,38.345570,NaN,20.679335,NaN,NaN
6,2009-12-11,NaN,NaN,NaN,15.158205,NaN,NaN,55.340256,28.480854,NaN,...,74.452499,48.176273,12.137718,NaN,NaN,37.843170,NaN,20.310062,NaN,NaN
7,2009-12-14,NaN,NaN,NaN,15.023463,NaN,NaN,55.159401,28.141798,NaN,...,74.883202,48.220291,12.188807,NaN,NaN,37.173439,NaN,20.217739,NaN,NaN
9,2009-12-16,NaN,NaN,NaN,14.619246,NaN,NaN,54.255142,27.870552,NaN,...,73.221863,48.866028,24.224291,NaN,NaN,38.178074,NaN,19.479193,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2508,2019-11-27,NaN,147.300003,8.34,117.800003,110.400002,135.000000,139.000000,226.000000,5.92,...,213.300003,100.000000,108.599998,8.14,98.000000,109.000000,NaN,80.199997,289.0,29.400000
2509,2019-11-28,NaN,146.350006,7.90,117.800003,110.599998,133.000000,142.000000,224.000000,5.90,...,214.300003,100.250000,108.199997,8.12,102.000000,106.500000,NaN,80.800003,295.0,30.000000
2510,2019-11-29,NaN,146.399994,7.90,119.400002,110.800003,146.600006,145.000000,224.000000,6.00,...,211.600006,100.599998,108.500000,8.02,101.500000,109.000000,NaN,81.599998,296.0,27.900000
2511,2019-12-02,NaN,146.699997,8.34,120.000000,109.599998,146.000000,146.000000,226.000000,5.98,...,208.500000,102.000000,108.900002,8.08,101.500000,108.000000,NaN,81.800003,295.0,28.400000
2512,2019-12-03,NaN,147.649994,8.40,118.000000,109.599998,142.600006,142.000000,224.000000,5.92,...,207.000000,103.000000,110.099998,7.88,99.599998,107.000000,NaN,83.000000,292.0,27.799999