In [15]:
import numpy as np
import pandas as pd
import yfinance as yf
: No data found, symbol may be delisted
- : No data found for this date range, symbol may be delisted
-:

In [59]:
tickers = pd.read_csv('./data/raw/ticker_data.csv').rename(columns={'Ticker symbol' : 'ticker'})
print(tickers.shape)
print(len(tickers.ticker.unique()))
tickers_str_modified = ""
for ticker in tickers.ticker.values:
    if (ticker.endswith('.B')):
        tickers_str_modified += (ticker[0:-2] + '-B.ST ')

tickers_str_modified

(607, 1)
607

'VOLV-B.ST ERIC-B.ST HM-B.ST SKA-B.ST ELUX-B.ST SECU-B.ST SKF-B.ST ASSA-B.ST NCC-B.ST PEAB-B.ST INVE-B.ST HUSQ-B.ST HEXA-B.ST TREL-B.ST SAAB-B.ST TEL2-B.ST GETI-B.ST RATO-B.ST NIBE-B.ST LUND-B.ST SCA-B.ST MTG-B.ST LOOM-B.ST SWEC-B.ST HOLM-B.ST AF-B.ST HPOL-B.ST BEIJ-B.ST EKTA-B.ST LIFCO-B.ST LATO-B.ST ELAN-B.ST ADDT-B.ST CLAS-B.ST ARJO-B.ST NOLA-B.ST MCOV-B.ST BALD-B.ST RECI-B.ST SRNKE-B.ST NEWA-B.ST CLA-B.ST ITAB-B.ST FOI-B.ST MMGR-B.ST THQN-B.ST BETS-B.ST PNDX-B.ST BEIA-B.ST LAGR-B.ST BERG-B.ST VBG-B.ST SWOL-B.ST OEM-B.ST BRG-B.ST ANOD-B.ST DURC-B.ST MSON-B.ST VSSAB-B.ST KABE-B.ST ATRLJ-B.ST SKIS-B.ST ALIF-B.ST REJL-B.ST CAT-B.ST XANO-B.ST POOL-B.ST WALL-B.ST DCAR-B.ST NET-B.ST CONS-B.ST SBB-B.ST PROF-B.ST BTS-B.ST FING-B.ST STORY-B.ST MIDW-B.ST EOLU-B.ST SECT-B.ST PENG-B.ST PRIC-B.ST FMM-B.ST AGES-B.ST CCOR-B.ST PLAZ-B.ST ATVEXA-B.ST VIT-B.ST GHUS-B.ST LAMM-B.ST VRG-B.ST PREV-B.ST FOOT-B.ST INISS-B.ST BIOG-B.ST SOF-B.ST NIL-B.ST BIOA-B.ST ELOS-B.ST RAY-B.ST SVED-B.ST CBTT-B.ST MEAB-B.ST ZZ-B.ST STEF-B.ST OBOYA-B.ST NETI-B.ST AJA-B.ST SJR-B.ST IAR-B.ST SEAB-B.ST HEBA-B.ST STAR-B.ST TRIAN-B.ST DEVP-B.ST ALLG-B.ST MSAB-B.ST NTEK-B.ST EMPIR-B.ST BRIN-B.ST PRCO-B.ST TAGM-B.ST CRAD-B.ST PCOM-B.ST AYIMA-B.ST BACTI-B.ST K2A-B.ST HUBR-B.ST MACK-B.ST VERT-B.ST CLIME-B.ST ORTI-B.ST CLNK-B.ST MVIR-B.ST KINV-B.ST PALS-B.ST INTEG-B.ST FRAM-B.ST AVT-B.ST SALT-B.ST CLS-B.ST IZAFE-B.ST CI-B.ST AAP-B.ST TERRNT-B.ST NETM-B.ST EPIS-B.ST FRILL-B.ST BIOVIC-B.ST GAPW-B.ST TRIBO-B.ST TRAC-B.ST DEFL-B.ST DMYD-B.ST SIMRIS-B.ST CMOTEC-B.ST SVOL-B.ST LLSW-B.ST HIFA-B.ST COPP-B.ST IBT-B.ST HAV-B.ST '

In [56]:

data = yf.download(  
        # or pdr.get_data_yahoo(...
        # tickers list or string as well
        tickers = tickers_str_modified,

        # use "period" instead of start/end
        # valid periods: 1d,5d,1mo,3mo,6mo,1y,2y,5y,10y,ytd,max
        # (optional, default is '1mo')
        period = "10y",

        # fetch data by interval (including intraday if period < 60 days)
        # valid intervals: 1m,2m,5m,15m,30m,60m,90m,1h,1d,5d,1wk,1mo,3mo
        # (optional, default is '1d')
        interval = "1d",

        # group by ticker (to access via data['SPY'])
        # (optional, default is 'column')
        group_by = 'ticker',

        # adjust all OHLC automatically
        # (optional, default is False)
        auto_adjust = True,

        # download pre/post regular market hours data
        # (optional, default is False)
        prepost = True,

        # use threads for mass downloading? (True/False/Integer)
        # (optional, default is True)
        threads = True,

        # proxy URL scheme use use when downloading?
        # (optional, default is None)
        proxy = None
    )
data

[*********************100%***********************]  161 of 161 completed

3 Failed downloads:
- SEAB-B.ST: No data found, symbol may be delisted
- DCAR-B.ST: No data found for this date range, symbol may be delisted
- HUBR-B.ST: No data found, symbol may be delisted

           AJA-B.ST                               DURC-B.ST             \
               Open   High    Low  Close  Volume       Open       High
Date
2009-11-23      NaN    NaN    NaN    NaN     NaN  15.913867  16.006931
2009-11-24      NaN    NaN    NaN    NaN     NaN  15.820802  15.820802
2009-11-25      NaN    NaN    NaN    NaN     NaN  15.727738  15.820802
2009-11-26      NaN    NaN    NaN    NaN     NaN  15.727740  15.727740
2009-11-27      NaN    NaN    NaN    NaN     NaN  14.983232  15.913867
...             ...    ...    ...    ...     ...        ...        ...
2019-11-15    154.0  155.0  151.0  155.0   354.0  30.100000  30.400000
2019-11-18    153.0  155.0  153.0  155.0    88.0  30.100000  30.100000
2019-11-19    153.0  157.0  152.0  155.0  2893.0  29.000000  29.299999
2019-11-20    153.0  155.0  152.0  152.0  2062.0  29.600000  30.500000
2019-11-21    153.0  157.0  153.0  155.0  2783.0  30.000000  31.000000

                                            ...  PEAB-B.ST             \
                  Low      Close    Volume  ...       Open       High
Date                                        ...
2009-11-23  15.820803  16.006931    6874.0  ...  31.752167  31.752167
2009-11-24  15.355484  15.448548    1973.0  ...  31.531007  32.226079
2009-11-25  15.634674  15.727738    7800.0  ...  32.226084  32.226084
2009-11-26  15.541614  15.541614    1600.0  ...  30.014488  30.140865
2009-11-27  14.983232  15.541614    4445.0  ...  28.750720  29.003475
...               ...        ...       ...  ...        ...        ...
2019-11-15  29.600000  30.100000   27158.0  ...  82.000000  83.250000
2019-11-18  28.900000  29.000000  220910.0  ...  83.199997  84.349998
2019-11-19  28.500000  29.000000   18281.0  ...  83.699997  84.599998
2019-11-20  29.000000  30.100000   22803.0  ...  84.250000  84.500000
2019-11-21  29.400000  30.500000   16047.0  ...  83.400002  83.900002

                                              FMM-B.ST                         \
                  Low      Close     Volume       Open        High        Low
Date
2009-11-23  31.404632  31.594196   713810.0        NaN         NaN        NaN
2009-11-24  31.467817  32.068108   712209.0        NaN         NaN        NaN
2009-11-25  29.066664  30.014490  2746664.0        NaN         NaN        NaN
2009-11-26  29.066662  29.066662  1309956.0        NaN         NaN        NaN
2009-11-27  28.055649  28.813908  1019699.0        NaN         NaN        NaN
...               ...        ...        ...        ...         ...        ...
2019-11-15  81.750000  83.199997   421981.0  92.000000  103.000000  92.000000
2019-11-18  83.199997  83.650002   637930.0  95.199997   99.800003  95.000000
2019-11-19  83.400002  84.250000   652912.0  96.400002   96.400002  95.199997
2019-11-20  83.199997  84.050003   458614.0  96.599998  101.000000  96.000000
2019-11-21  82.900002  83.650002   304398.0  98.800003   99.000000  98.400002


                Close   Volume
Date
2009-11-23        NaN      NaN
2009-11-24        NaN      NaN
2009-11-25        NaN      NaN
2009-11-26        NaN      NaN
2009-11-27        NaN      NaN
...               ...      ...
2019-11-15  95.000000  17271.0
2019-11-18  96.800003   4736.0
2019-11-19  96.000000   2779.0
2019-11-20  98.400002   7038.0
2019-11-21  98.800003  15061.0

[2514 rows x 808 columns]

In [60]:
data.to_pickle('./data/raw/swedish_stocks')

             Open   High    Low  Close  Volume
Date
2009-11-23   True   True   True   True    True
2009-11-24   True   True   True   True    True
2009-11-25   True   True   True   True    True
2009-11-26   True   True   True   True    True
2009-11-27   True   True   True   True    True
...           ...    ...    ...    ...     ...
2019-11-15  False  False  False  False   False
2019-11-18  False  False  False  False   False
2019-11-19  False  False  False  False   False
2019-11-20  False  False  False  False   False
2019-11-21  False  False  False  False   False

[2514 rows x 5 columns]