In [40]:
import pandas as pd

In [41]:
df = pd.read_pickle('../data/raw/swedish_stocks')
df.head(2)

           THQN-B.ST                       NIBE-B.ST                        \
                Open High Low Close Volume      Open High Low Close Volume
Date
2009-12-03       NaN  NaN NaN   NaN    NaN       NaN  NaN NaN   NaN    NaN
2009-12-04       NaN  NaN NaN   NaN    NaN       NaN  NaN NaN   NaN    NaN

            ... CLNK-B.ST                       CBTT-B.ST                 \
            ...      Open High Low Close Volume      Open High Low Close
Date        ...
2009-12-03  ...       NaN  NaN NaN   NaN    NaN       NaN  NaN NaN   NaN
2009-12-04  ...       NaN  NaN NaN   NaN    NaN       NaN  NaN NaN   NaN


           Volume
Date
2009-12-03    NaN
2009-12-04    NaN

[2 rows x 809 columns]

In [44]:
tickers = df.columns.get_level_values(0).unique()
for ticker in tickers:
    curr_equ = df[ticker].dropna(how='all')
    assert curr_equ.isna().sum().sum() == 0 # Make sure any certain values are not NaN
    assert str(ticker)[len(ticker)-5:] == '-B.ST' # Make sure that we dont remove anything relevant
    curr_equ.index = pd.to_datetime(curr_equ.index)
    curr_equ = curr_equ.round(2) 
    curr_equ.to_csv(path_or_buf='../data/clean/swe_equ/' + str(ticker)[:len(ticker)-5] + '.csv')

            Open  High  Low  Close  Volume
Date
2009-12-03   NaN   NaN  NaN    NaN     NaN
2009-12-04   NaN   NaN  NaN    NaN     NaN
2009-12-07   NaN   NaN  NaN    NaN     NaN
2009-12-08   NaN   NaN  NaN    NaN     NaN
2009-12-09   NaN   NaN  NaN    NaN     NaN
...          ...   ...  ...    ...     ...
2019-11-27   NaN   NaN  NaN    NaN     NaN
2019-11-28   NaN   NaN  NaN    NaN     NaN
2019-11-29   NaN   NaN  NaN    NaN     NaN
2019-12-02   NaN   NaN  NaN    NaN     NaN
2019-12-03   NaN   NaN  NaN    NaN     NaN

[2513 rows x 5 columns]

AssertionError: