In [2]:
import pandas as pd
import numpy as np
import re
import os

In [13]:
data = pd.read_csv('../data/clean/cleaned_financials.csv', index_col = 0)

In [19]:
data[['Market price - year end USD','Market price - year(+1) end USD']]

      Market price - year end USD  Market price - year(+1) end USD
0                             NaN                              NaN
1                             NaN                              NaN
2                             NaN                              NaN
3                             NaN                              NaN
4                             NaN                              NaN
...                           ...                              ...
5242                          NaN                              NaN
5243                          NaN                              NaN
5244                          NaN                              NaN
5245                          NaN                             2.02
5246                         2.02                              NaN

[5247 rows x 2 columns]

In [20]:
data['Return'] = data['Market price - year end USD']-data['Market price - year(+1) end USD']

In [22]:
data['Return']

AttributeError: 'Series' object has no attribute 'countna'